@media screen and (max-width: 767px) {
  .burger-header {
    display: flex;
  }

  .header-list__block {
    background-color: #fff;
    position: fixed;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: start;
    left: -120%;
    top: 0;
    bottom: 0;
    z-index: 9999;
  }

  .header-list {
    flex-direction: column;
    align-items: start;
    margin: $gutter-default;

    .header-list__item {
      margin-bottom: 60px;
      margin-right: 0;
    }
  }

  .burger-hidden {
    display: block;
  }
  
  .header-btn {
    display: none;
  }

  .burger-toggle {
    display: block;
  }
}


@media screen and (max-width: 480px) {
  .header-list {
    align-items: center;
  }
}