@media screen and (max-width: 767px) {
  .title-section__content {
    grid-template-columns: 1fr;
  }

  .title-info_block {
    text-align: center;
  }

  .title-info-block__title {
    font-size: 30px;
  }

  .title-info-block__subTitle {
    font-size: 20px;
  }
}

