@font-face {
  font-family: 'GTEesti';
  src: url("../assets/fonts/GTEestiProDisplay-Light.woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'GTEesti';
  src: url("../assets/fonts/GTEestiProDisplay-Medium.woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'GTEesti';
  src: url("../assets/fonts/GTEestiProDisplay-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}