.header {
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gutter-default;
}

.header-logo {
  color: $color-blue;
  @include fontz('GTEesti', bold, 28px, normal);
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
}

.header-list__item {
  list-style: none;
  @include fontz('GTEesti', 300, 18px, normal);
  color: $colorB-two;
  &[data-m] {
    margin-right: $gutter-default;
  }
}

.header-btn {
  background-color: #fff;
  border: none;
  color: $color-blue;
  @include fontz('GTEesti', 400, 16px, normal);
}

.header-burger__btn {
  color: $color-blue;
  background-color: #fff;
  border: none;
  @include fontz('GTEesti', 400, 16px, normal);
}

.btn-filled {
  @extend %button-filled;
  margin-bottom: 50px;
}

.burger-hidden {
  display: none;
}

.burger-toggle {
  border: 0;
  background-color: #fff;
  display: none;

  span {
    transition: all .4s;
    height: 2px;
    width: 24px;
    background-color: #000;
    display: block;
    margin: 7px;
  }
}

.header-list__block {
  transition: all .4s;
}

.active {
  margin-bottom: 8px;

  .bar:nth-child(3) {
    display: none;
  }
  .bar:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);

  }
  .bar:nth-child(2) {
    transform: rotate(45deg);
  }
}

.burger-header {
  width: 100%;
  display: none;
  justify-content: space-between;
  margin-bottom: $gutter-default;
}