@import './fonts';
@import './vars';
@import './mixins&patterns';

@import 'header.scss';

.container {
  max-width: $container-width;
  margin: 0 auto;
}

body {
  margin: 0;
}

@import './media/header-media';