@import './fonts';
@import './vars';
@import './mixins&patterns';

@import 'header';
@import 'section1';
@import 'section2';
@import 'section3';

.section {
  margin-top: $section-m;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

body {
  margin: 0;

}

#root {

}

@import './media/header-media';
@import './media/section1-media';
@import './media/section2-media';
@import './media/section3-media';